@import 'utils/styles/main.scss';
@import 'utils/styles/animation';

.securitysystem{
  position: relative;
  box-sizing: content-box;
  // width: 100%;
  // height: 100%;
  // overflow: hidden;
padding-bottom: 30px;
}

@media screen and  (min-width:$mobile){
  .securitysystem{
padding-bottom: 30px;
  }
  }
  @media screen and  (min-width:$tablet){
    .securitysystem{
      padding-bottom: 50px;
        }
  }
  @media screen and  (min-width:$desktop){
    .securitysystem{
      padding-bottom: 220px;
        }
  }