@import '../main.scss';
@import '../content-components-styles/content.scss';

.active{
    // transform: scale(1);
    opacity: 1;
    animation: animate100 500ms linear;
  }
  
  
  @keyframes animate100 {
    0% {
      // transform: scale(0);
      opacity: 0;
    }
  
    30% {
      // transform: scale(0);
      opacity: 0;
    }
  
    100% {
      // transform: scale(1);
      opacity: 1;
    }
  }
  

  