@import 'utils/styles/main.scss';
@import 'utils/styles/details-animation.module.scss';

.detailsPage{
  position: relative;
}


.details{
  // position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  // height: 100%;
  // width: 100%;
  background-color:black;
  // background-color:transparent;
  color: $text-primary-color;
  // outline: 3px solid red;
}
