
@font-face {
    font-family: 'StyreneALC';
    src: local('StyreneALC-Thin'), 
        url('../fonts/StyreneALC/StyreneALC-Thin.otf') format('otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'StyreneALC';
    src: local('StyreneALC-Light'), 
        url('../fonts/StyreneALC/StyreneALC-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

// @font-face {
//     font-family: 'StyreneALC';
//     src: local('StyreneALC-Regular'),
//         url('../fonts/StyreneALC/StyreneALC-Regular.otf') format('opentype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'StyreneALC';
//     src: local('StyreneALC-Medium'),
//         url('../fonts/StyreneALC/StyreneALC-Medium.otf') format('opentype');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'StyreneALC';
//     src: local('StyreneALC-Bold'), 
//         url('../fonts/StyreneALC/StyreneALC-Bold.otf') format('opentype');
//     font-weight: 700;
//     font-style: normal;
// }
