//colors
$text-secondary-color: #fff;
$text-primary-color: #ffffff;
$accent-secondary-color:#0077b5;
$accent-primary-color:rgb(247, 247, 8);
$backdrop-bgc: rgba(0, 0, 0, 1);

//grid
$grid-row-mobile:30px;
$grid-row-tablet:100px;
$grid-row-desktop:150px;

// breakpoints
$mobile:480px;
$tablet:768px;
$desktop:1200px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time-amount: 550ms;
$timeoutValue:1000ms;



/* 
// $background-color: #ffffff; / #fdfdfd;
// $second-bgc: #f7f7f7; / #f5f4fa; / #191c26; / #2f303a;
// $backdrop-bgc: rgba(25, 28, 38, 0.2); / rgba(0, 0, 0, 0.2);
// $accent-color: #ff6c00; /  #2196f3; / #0077b5;
// $primary-text-color: #555555; / #757575;
// $text-title-color: #303030;  /  #212121;
// $bgc-button-color: #2196f3; 
// $icons-primary-color: #afb1b8; 
// $timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
// $time-amount: 250ms;  
// $secondary-color:#636363;
// $primary-color:#212121;
// color: rgba(30, 90, 250, 1); 
*/



