
.itemText{
  margin-top: 10px;
}

.text {
  width: 95%;
  margin: auto;
  font-family: 'GothamPro';
  font-weight: 100;
  font-size: 12px;
  line-height: 1.3rem;
  letter-spacing: 1.1;
  color: $text-primary-color;
}

.textItem {
  padding: 5px 0 0;
  line-height: 1rem;

}

.link{
  color: $text-primary-color;
  text-decoration: underline;
   &:hover,
  &:focus{
    color: $accent-primary-color;
  }
}

@media screen and (min-width: $mobile) {
  .itemText{
    margin-top: 10px;
  }
  .text{
    width: 95%;
  font-size: 14px;
  }
}

@media screen and (min-width: $tablet) {
  .itemText{
    margin-top: 20px;
  }

  .text{
    width: 80%;
    margin-bottom: 10px;
    font-size: 16px;
  line-height: 1.5rem;
    color: $text-primary-color;
    border-left: $accent-secondary-color 1px solid;

    }

    .textItem {
      padding: 5px ;
  line-height: 1.3rem;

    }
    
}

@media screen and (min-width: $desktop) {
  .itemText{
    margin-top: 10px;
  }
    .text{
      width: 70%;
    font-size: 18px;
    }
}