
.contentItems {
  display: block;
  padding-bottom: 10px;
  border-bottom: $accent-secondary-color 1px solid;
  margin: 15px auto;
  transform: scale(0);

}


// .active{
//   transform: scale(1);
//   animation: animate100 500ms linear ;
// }


// @keyframes animate100 {
//   0% {
//     transform: scale(0);
//   }

//   50% {
//     transform: scale(0.5);
//   }

//   100% {
//     transform: scale(1);
//   }
// }






@media screen and (min-width: $mobile) {
  .videoItems,
  .contentItems {
    display: block;
  margin-top: 10px;
  }
}

@media screen and (min-width: $tablet) {
  .videoItems,
  .contentItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin-top: 15px;

  }
}
@media screen and (min-width: $desktop) {
  .videoItems,
  .contentItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin-top: 15px;
  }
}
