.worksList {
  display: block;
  width: 90%;
  margin: 20px auto;
}

.worksTitle{
  display: block;
  margin-top: 15px;
}

.worksItems {
  margin-top: 10px;
}

.worksContent {
  margin-bottom: 5px;
  font-family: 'StyreneAWeb', sans-serif;
  font-size: 12px;
  color: $text-secondary-color;
}

@media screen and (min-width: $mobile) {
  .worksTitle{
    margin-top: 25px;
  }

  .worksList {
    display: block;
  }

  .worksContent {
    margin-bottom: 5px;
}
}

@media screen and (min-width: $tablet) {
  .worksList {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .worksTitle{
    margin-top: 35px;
  }
  .worksContent {
    margin-bottom: 15px;
  font-size: 16px;

}
}

@media screen and (min-width: $desktop) {
  .worksList {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .worksContent {
    margin-bottom: 20px;
  font-size: 20px;

}
}
