@import 'utils/styles/main';
@import 'utils/styles/heads.scss';

.notFound{
    position: relative;
}
.subheadItems{
    color: yellow;
    font-size: 36px;
    font-family: 'StyreneAWeb', sans-serif;
    font-style: italic;
}

.headsNotFound{
    text-align: center;
    margin: 200px auto;
    // color: red;
    font-size: 48px;
}