@import 'utils/styles/main.scss';

.modalBackdrop{
 position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  z-index: 500;
}

.modalContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // min-height: 300px;
  max-width: 550px;
  width: 100%;
  padding: 12px;
  // background-color: rgba($color: #bbb, $alpha: 0.8);
  background-color: rgba($color: #fff, $alpha: 1);
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  font-size: 12px;
  font-family: 'Raleway';
  letter-spacing: 1.1;
  line-height: 1.3;
  color:$text-secondary-color;
}



