@import '../../utils/styles/main.scss';
@import '../../utils/styles/animation';
@import '../../utils/styles/contentItem';
@import '../../utils/styles/contentTitle';

.content{
  display: block;
  justify-content: space-around;
  align-items:stretch;
  margin-top: 50px;
  height: auto;
}

@media screen and  (min-width:$mobile){
  .content{
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    flex-wrap: wrap;

  }
  }
  @media screen and  (min-width:$tablet){
  .content{
    display: flex;
  margin-top: 100px;

  }
  }
  @media screen and  (min-width:$desktop){
  .content{
    margin-top: 150px;
  
  }
  }