@import 'utils/styles/main.scss';
@import 'utils/styles/details-animation.module.scss';

.detailsPage{
  position: relative;
  margin-top: 150px;

}


.details{
  box-sizing: border-box;
  display: block;
  // height: 100%;
  // width: 100%;
  background-color:black;
  // background-color:transparent;
  color: $text-primary-color;
  // outline: 3px solid red;
}
