@import 'utils/styles/main.scss';
@import 'utils/styles/items';
@import 'utils/styles/heads';
@import 'utils/styles/pain';
@import 'utils/styles/content-components-styles/images';
@import 'utils/styles/content-components-styles/content';
@import 'utils/styles/content-components-styles/works';
@import 'utils/styles/content-components-styles/componentText';
@import './wind-styles/windItems';
// @import './wind-styles/works';
// @import './wind-styles/windImages';

.wind {
  box-sizing: content-box;
  width: 95%;
  height: auto;
  text-align: center;
  margin: auto;
  color: $text-primary-color;
}

@media screen and (min-width: $mobile) {
  .wind {
  }
}

@media screen and (min-width: $tablet) {
  .wind {
  }
}

@media screen and (min-width: $desktop) {
  .wind {
  }
}
