@import 'utils/styles/main.scss';
@import 'utils/styles/items';
@import 'utils/styles/heads';
@import 'utils/styles/pain';
@import 'utils/styles/content-components-styles/images';
@import 'utils/styles/content-components-styles/content';
@import 'utils/styles/content-components-styles/works';
@import 'utils/styles/content-components-styles/componentText';
@import './thunder-styles/thunderItems';
@import './thunder-styles/thunderImages';


.thunder {
  box-sizing: content-box;
  width: 95%;
  height: auto;
  text-align: center;
  margin: auto;
  color: $text-primary-color;
}


@media screen and (min-width: $mobile) {
  .thunder {
  }
}

@media screen and (min-width: $tablet) {
  .thunder {
  }
}

@media screen and (min-width: $desktop) {
  .thunder {
  }
}
